{% extends 'backend_layout.html.twig' %}

{% block title %}{{parent()}} Tableau de bord{% endblock %}
{% block page %}dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Tableau de bord</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="d-flex row">
                            <div class="col-3 align-self-center">
                                <div class="round">
                                    <i class="mdi mdi-account-multiple text-light"></i>
                                </div>
                            </div>
                            <div class="col-6 ml-auto align-self-center text-center">
                                <div class="m-l-10 text-white-50 float-right">
                                    <h5 class="mt-0 round-inner">{{ branche.LOUVETEAU }}</h5>
                                    <p class="mb-0 ">LOUVETEAUX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="d-flex row">
                            <div class="col-3 align-self-center">
                                <div class="round">
                                    <i class="mdi mdi-account-multiple text-primary"></i>
                                </div>
                            </div>
                            <div class="col-6 ml-auto align-self-center text-center">
                                <div class="m-l-10 text-white-50 float-right">
                                    <h5 class="mt-0 round-inner">{{ branche.ECLAIREUR }}</h5>
                                    <p class="mb-0 ">ECLAIREURS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="d-flex row">
                            <div class="col-3 align-self-center">
                                <div class="round">
                                    <i class="mdi mdi-account-multiple text-light"></i>
                                </div>
                            </div>
                            <div class="col-6 ml-auto align-self-center text-center">
                                <div class="m-l-10 text-white-50 float-right">
                                    <h5 class="mt-0 round-inner">{{ branche.CHEMINOT }}</h5>
                                    <p class="mb-0 ">CHEMINOTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="d-flex row">
                            <div class="col-3 align-self-center">
                                <div class="round">
                                    <i class="mdi mdi-account-multiple text-primary"></i>
                                </div>
                            </div>
                            <div class="col-6 ml-auto align-self-center text-center">
                                <div class="m-l-10 text-white-50 float-right">
                                    <h5 class="mt-0 round-inner">{{ branche.ROUTIER }}</h5>
                                    <p class="mb-0 ">ROUTIERS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-12 col-xl-8">
                <div class="card m-b-30">
                    <div class="card-body" id="impressionChart">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="live-tile " data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="10">
                                    <div>
                                        <h4 class="text-white mt-3 mb-1 text-warning"><strong>{{ sexe.total|number_format(0,'','.') }}</strong></h4>
                                        <p class="text-light">Total Adherant</p>
                                    </div>
                                    <div>
                                        <h4 class="text-white mt-3 mb-1 text-warning"><strong>{{  sexe.homme|number_format(0,'','.') }}</strong></h4>
                                        <p class="text-light">Total homme</p>
                                    </div>
                                    <div>
                                        <h4 class="text-white mt-3 mb-1 text-warning"><strong>{{  sexe.femme|number_format(0,'','.') }}</strong></h4>
                                        <p class="text-light">Total femme</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mt-3 earning-text">
                                <p class="font-14"><i class="mdi mdi-message mr-1"></i>Histogramme des adhérants par région
                                    <span class="font-12 ml-2 float-right"><a href="#" class="nav-link active"  onclick="imprimer('impressionChart')"><i class="mdi mdi-printer"></i></a></span>
                                </p>

                            </div>
                        </div>
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6>Statistiques des régions</h6>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                {% for region in regions %}
                                    <div class="carousel-item {% if loop.first %}active{% endif%} col-auto">
                                        <div class="text-center mt-5">
                                            <h6 class="">{{ region.nom }}</h6>

                                            <div class="row text-center mt-3">
                                                <div class="col-6 border-right">
                                                    <h3 class="text-white">{{ region.nombre|number_format(0,'','.') }}</h3>
                                                    <small class="text-muted">Total adherant</small>
                                                </div>
                                                <div class="col-6">
                                                    <h3 class="text-white text-primary">{{ region.pourcentage|number_format(2,',',' ')}} %</h3>
                                                    <small class="text-muted">Parcours objectif</small>
                                                </div>
                                                <div class="col-12 text-center mt-3">
                                                    <a href="#" class="btn btn-outline-light  btn-sm px-3">Voir listes des adherants</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="d-inline-block">Statistique par region</h6>
                        <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a href="#" class="nav-link active"  onclick="imprimer('impression')">Imprimer</a>
                            </li>
                        </ul>

                        <div class="boxscroll w-100" id="impression">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="user-history" role="tabpanel" >
                                    <div class="table-responsive user-history">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="border-top-0">REGION</th>
                                                <th class="border-top-0 text-center">TOTAL</th>
                                                <th class="border-top-0 text-center">JEUNE</th>
                                                <th class="border-top-0 text-center">ADULTE</th>
                                                <th class="border-top-0 text-center">HOMME</th>
                                                <th class="border-top-0 text-center">FEMME</th>
                                                <th class="border-top-0 text-center">LOUVETEAU</th>
                                                <th class="border-top-0 text-center">ECLAIREUR</th>
                                                <th class="border-top-0 text-center">CHEMINOT</th>
                                                <th class="border-top-0 text-center">ROUTIER</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for region in regions %}
                                                <tr>
                                                    <td>
                                                        {{ region.nom }}
                                                    </td>
                                                    <td class="text-center">{{region.nombre|number_format(0,'','.')}}</td>

                                                    <td class="text-center">{{ region.jeune|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.adulte|number_format(0,'','.') }}</td>
                                                    <td class="text-center"> {{ region.homme|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.femme|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.louveteau|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.eclaireur|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.cheminot|number_format(0,'','.') }}</td>
                                                    <td class="text-center">{{ region.routier|number_format(0,'','.') }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/c3/c3.min.css')) }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/plugins/metro/MetroJs.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/backoffice/plugins/metro/MetroJs.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/d3/d3.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/c3/c3.min.js')) }}"></script>
    <script src="{{ asset('assets/backoffice/pages/dashborad.js') }}"></script>
    <script>
        $(".live-tile, .flip-list").not(".exclude").liveTile();
        !function(e){
            "use strict";
            var a=function(){};
            a.prototype.init=function(){
                c3.generate({
                    bindto:"#chart",
                    data:{
                        columns:[
                            ["Adherant",{% for region in regions %}{{ region.nombre }}{% if loop.last %}{% else %},{% endif %}{% endfor %}],
                            ["Objectif",{% for objectif in objectis %}{{ objectif.val }}{% if loop.last %}{% else %},{% endif %}{% endfor %}],
                        ],
                        types: {
                            Adherant: 'bar'
                        },
                        colors:{
                            Adherant:"#011d67",
                            Objectif:"#fa8000",
                        }
                    },
                    axis:{
                        x:{
                            type: 'category',
                            categories: [{% for region in regions %}'{{ region.nom }}'.slice(0,4){% if loop.last %}{% else %},{% endif %}{% endfor %}]
                        }
                    }
                })},
                e.ChartC3=new a,e.ChartC3.Constructor=a}(window.jQuery),function(e){"use strict";window.jQuery.ChartC3.init()}();
    </script>
    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}