{{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">{{ form_row(form.region) }}</div>
            <div class="col-md-3">{{ form_row(form.nom) }}</div>
            <div class="col-md-5">{{ form_row(form.prenoms) }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">{{ form_row(form.datenaissance) }}</div>
            <div class="col-md-4">{{ form_row(form.lieunaissance) }}</div>
            <div class="col-md-4">{{ form_row(form.contact) }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <img src="{{ absolute_url(asset('/uploads/erreurs/'~ requete.media)) }}" alt="" class="img-fluid img-thumbnail">
                <a href="{{ absolute_url(asset('/uploads/erreurs/'~ requete.media)) }}" target="_blank">Telecharger</a>
            </div>
            <div class="col-md-8">{{ form_row(form.message) }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">{{ form_row(form.statut) }}</div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="text-right">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
