{% extends 'backend_layout.html.twig' %}

{% block title %}{{parent()}} {{ scout.nom|upper }} {{ scout.prenoms|title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">{{ scout.nom|upper }} {{ scout.prenoms|title }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form)}}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 readonly">{{ form_row(form.matricule) }}</div>
                                    <div class="col-md-2 readonly">{{ form_row(form.carte) }}</div>
                                    <div class="col-md-2 readonly">{{ form_row(form.cotisation) }}</div>
                                    <div class="col-md-2">{{ form_row(form.nom) }}</div>
                                    <div class="col-md-4">{{ form_row(form.prenoms) }}</div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-2">{{ form_row(form.datenaiss) }}</div>
                                    <div class="col-md-4">{{ form_row(form.lieunaiss) }}</div>
                                    <div class="col-md-3">{{ form_row(form.sexe) }}</div>
                                    <div class="col-md-3">{{ form_row(form.branche) }}</div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-5">{{ form_row(form.fonction) }}</div>
                                    <div class="col-md-2">{{ form_row(form.contact) }}</div>
                                    <div class="col-md-3">{{ form_row(form.urgence) }}</div>
                                    <div class="col-md-2">{{ form_row(form.contactparent) }}</div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-3">{{ form_row(form.email) }}</div>
                                    <div class="col-md-2">{{ form_row(form.statut) }}</div>
                                    <div class="col-md-7">{{ form_row(form.groupe) }}</div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <label for="">Fonction</label>
                                        <select name="nouvelle_fonction" id="" class="form-control select">
                                            <option value="">-- Selectionnez la fonction  --</option>
                                            <option value=""></option>
                                            {% for fonction in fonctions %}
                                                <option value="{{ fonction.id }}">{{ fonction.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {{ form_widget(form) }}
                            <div class="text-right mt-5 mb-2">
                                <a href="{{ path('app_accueil') }}" class="btn btn-outline-primary">Annuler</a>
                                <button class="btn btn-primary">Modifier</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/backoffice/plugins/select2/select2.min.css') }}">
    <style>
        .lien a{color: white}
        select{
            background-color: transparent;
        }
        select option{
            background-color: #93aac3;
            color: darkblue;
        }
        .readonly input{
            background-color: #93aac3;
            color: darkblue;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/backoffice/plugins/select2/select2.min.js') }}"></script>
    <script>
        $().ready(function () {
            $('.select').select2();
        })
    </script>
{% endblock %}